body {
	background-image:url("pic01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
tr {
	background-color:hsla(9,100%,64%,0.6);
	font-family:arial;
	text-align: center;
}
h1
{border-style:dotted;
border-width:thick;
}
header{ 
	padding:1 em; 
	color:white; 
	background-color: black; 
	clear:left; 
	text-align:center;
}
footer {padding:1 em; 
	color:white; 
	background-color: black; 
	clear:left; 
	text-align:center;
	left: 0;
	bottom: 0;
	position: fixed;
	z-index: 1000;
	transition: 0.2s;
	width: 100%;
}
article {
	padding: 3;
}
nav {
	float:left; 
	max-widht: 160px; 
	margin:0; 
	padding:lem;
}
nav ul li {
		font-size: 25px;
		font-family: Segoe UI;
		background-color: bisque;
}    
nav ul { 
	text-decoration: none;
	padding-bottom: 250px;
	background-color: bisque;
	border-style: dotted;
}

article {
	margin-left=170px; 
	padding:1 lem; 
	overflow:hidden;
	padding-bottom: 100px
}

